.survey {
  margin: 2rem 0;
}
.divider {
  background-image: url('../../img/survey-background.svg');
  background-size: 111%;
  background-position: top center;
  height: 20vw;
  border: 0 none;
  margin: 0 -1rem;
  padding: 1rem;
}
.content {
  background-color: #fcfcfc;
    margin: -3rem -1rem 0;
  padding: 0 1rem;
  display: grid;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2em;
    column-gap: 2em;
  }
}

@media (min-width: 1280px) {
  .content {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 10vw;
    padding-right: 10vw;
    padding: 0 10vw 4em;
    row-gap: 2em;
    column-gap: 2em;
  }
}
