.header {
  background-image: url(/static/media/header-background.1556f3de.svg);
  background-size: 125%;
  background-position: bottom center;
  height: 5.875em;
}
.logotype {
  height: 3em;
  margin: 0.5em 1.75em;
}